@media (max-width: 500px) {
    .project-para{padding:0px}
    .skill-gap{margin: 40px 0px !important}
}
@media (min-width: 501px) and (max-width: 767px) {
    .skill-gap{margin: 50px 0px !important}
    .project-para{padding:0px}
}
@media (min-width: 768px) and (max-width: 991px) {
    .skill-gap{margin: 50px 0px !important}
    .project-para{padding:0px}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .project-para{padding:0px 80px}
}
@media (min-width: 1200px) and (max-width: 1277px) {
    .project-para{padding:0px 120px}
}